body{
/* 
    background-color: purple; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

.container{
    background: burlywood;
    color: white;
    padding: 20px;
}

section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    font-size: 50px;
}

.bigtext{
    font-size: x-large;
    text-align: left;
}

.hidden{
    transform: translateX(-100px);
    opacity: 0;
    transition: 2s;
}

.show{
    transform: translateX(0);
    opacity: 1;
    font-style: italic;
}


/* @keyframes slideInFadeIn {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animated-element {
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    animation: slideInFadeIn 1s ease-out;
  } */



