<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="GenAs">TESTING 1</h1>
    <h1 id="UsageAs">TESTING 2</h1>
    <h1 id="Recs">TESTING 3</h1>


    <script>
        function evaluationForYou(){
            let userAge = myInfo[0]
            let userUsage = myInfo[1]

            if (userAge >= 59){
                userAge = "Baby Boomers"
            }
            else if (userAge >= 43){
                userAge = "Gen X"
            }
            else if (userAge >= 27){
                userAge = "Millennials"
            }
            else{
                userAge = "Gen Z"
            }

            let sGenerationalAssessment = "With your associated generation, " + userAge + ",<br>"

            let sUsageAssessmnet = "and with your usage being " + userUsage + ",<br>"

            let sReccomendationAssessment = "So here are the following things you may be more succeptable to: "

            document.getElementById("GenAs").innerHTML = sGenerationalAssessment
            document.getElementById("UsageAs").innerHTML = sUsageAssessmnet
            document.getElementById("Recs").innerHTML = sReccomendationAssessment
        }
    </script>
    
    
</body>
</html>