<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <script defer src="/scripts/scripts.js"></script>
        <title>Document</title>
    </head>
    <body>
        <br>
        <br>
        <br>
        <br>
        <section>
            <div class="container">
                <h1><%=myInfo[0].use_sm%></h1>
                <h1>You're from the following generation: </h1>
                <h1 id="GenerationAssessment" class="hidden" value=<%=myInfo[0].age%>></h1>
                <h1>Who uses social media for</h1>    
                <h1 id="HourlyAssessment" class="hidden" value=<%=myInfo[0].use_sm%>></h1>
                <br>
    
                <h2>Your generation may suffer more from</h2>
                <h3 class="hidden">&bull; Depression</h2>
                <h3 class="hidden">&bull; Worriedness</h2>
                <h3 class="hidden">&bull; Distractions</h2>
                <h2>when compared with other generation.</h2>
                <br>
                <br>
    
                <h2>What can I do to reduce my suffering:</h2>
                <h6 class="hidden">&bull; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa odio labore ducimus quisquam atque recusandae quod itaque nihil eveniet dignissimos veniam excepturi, blanditiis perspiciatis nobis corrupti similique beatae culpa quia?</h6>
                <h6 class="hidden">&bull; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa odio labore ducimus quisquam atque recusandae quod itaque nihil eveniet dignissimos veniam excepturi, blanditiis perspiciatis nobis corrupti similique beatae culpa quia?</h6>
                <h6 class="hidden">&bull; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa odio labore ducimus quisquam atque recusandae quod itaque nihil eveniet dignissimos veniam excepturi, blanditiis perspiciatis nobis corrupti similique beatae culpa quia?</h6>
            </div>
        </section>
    </body>
    </html>


    <script>
        let userAge = document.getElementById("GenerationAssessment").value
        let userUsage = String(document.getElementById("HourlyAssessment").value)

        if (userAge >= 59){
            userAge = "Baby Boomers"
        }
        else if (userAge >= 43){
            userAge = "Gen X"
        }
        else if (userAge >= 27){
            userAge = "Millennials"
        }
        else{
            userAge = "Gen Z"
        }

        let sGenerationalAssessment = userAge + ",<br>"

        let sUsageAssessmnet = userUsage + ",<br>"

        document.getElementById("GenerationAssessment").innerHTML = sGenerationalAssessment
        document.getElementById("HourlyAssessment").innerHTML = sUsageAssessmnet
        document.getElementById("Recs").innerHTML = sReccomendationAssessment
    </script>
    
    
</body>
</html>