<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- EVENTBRITE TEST -->
    <div id="events-container">
        <% events.forEach(function(event) { %>
          <div>
            <h3><%= event.name.text %></h3>
            <p><%= event.description.text %></p>
          </div>
        <% }); %>
    </div>
</body>
</html>