<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script defer src="/scripts/scripts.js"></script>
    <title>Document</title>
</head>
<body>
    <section>
        <div class="container">
            <h1>You're from:</h1>
            <h1 class="hidden">Gen Z</h1>
            <!-- <br>
            <br>
            <br>    
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>    
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>    
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>    
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>    
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>    
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>    
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>    
            <br>
            <br>
            <br>
            <br>
            <br>
            <br> -->
            <h2>Your generation may suffer more from:</h2>
            <h2 class="hidden">Depression</h2>
            <h2 class="hidden">Worriedness</h2>
            <h2 class="hidden">Distractions</h2>
            <h2>When compared with other generations</h2>
        </div>
    </section>
</body>
</html>