<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to Help Gen X</title>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <section>
        <div class="container">
            <h1>Gen X and Social Media Use</h1>    
            <br>

            <h2>This generation may suffer more from</h2>
            <h3 class=>&bull; Depression</h2>
                <h6>Over 80% of Gen Z responed with having a higher than average depression rate when using the following apps</h6>
            <h3 class=>&bull; Worriedness</h2>
            <h3 class=>&bull; Distractions</h2>
            <h2>when compared with other generation.</h2>
            <br>
            <br>

            <h2>What can I do to reduce my suffering:</h2>
            <h6 class="hidden">&bull; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa odio labore ducimus quisquam atque recusandae quod itaque nihil eveniet dignissimos veniam excepturi, blanditiis perspiciatis nobis corrupti similique beatae culpa quia?</h6>
            <h6 class="hidden">&bull; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa odio labore ducimus quisquam atque recusandae quod itaque nihil eveniet dignissimos veniam excepturi, blanditiis perspiciatis nobis corrupti similique beatae culpa quia?</h6>
            <h6 class="hidden">&bull; Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa odio labore ducimus quisquam atque recusandae quod itaque nihil eveniet dignissimos veniam excepturi, blanditiis perspiciatis nobis corrupti similique beatae culpa quia?</h6>
        </div>
    </section>
</body>
</html>