<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="jumbotron jumbotron-fluid" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.6) 100%), url(/resources/laladancedesign_logo.png)">
        <div class="row mt-5 justify-content-center" style="opacity: 0.7;">
            <div class="contact-form section-sm p-5 cta bg-light">
                <h1>Log in</h1>
                <br>
                <p id="warning_id"></p>
                <form action="/loginsubmit" method="POST">
                    <label for="username">Username</label>
                    <Input type="text" id="login_username" name="login_username"></Input>
                    <br>
                    <br>
                    <label for="password">Password</label>
                    <Input type="password" id="login_password" name="login_password"></Input>
                    <input type="checkbox" onclick="ShowPassword()">Show Password
                    <br>
                    <br>
                    <Input type="submit" value="Log In"></Input>
                </form>
            </div>
        </div>
        <script>
            function ShowPassword() {
                var x = document.getElementById("login_password");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }
        </script>
</body>
</html>