<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <form id="myForm"form action="/submitSurvey" method="POST">
        <fieldset>
            <legend>Social Media Survey</legend>
            <br>
            <label for="location">Location</label>
            <select id="location" name="location">
                <option value="Provo" selected>Provo</option>
            </select>
            <br><br>
            <label for="numAge">1. What is your age? </label>
            <input type="number" id="numAge" name="age" min="1">
            <br><br>
            <label for="txtGender">2. Gender</label>
            <select id="txtGender" name="gender">
                <!-- <option value="" disabled selected style="color:grey;">SELECT</option> -->
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
            <br><br>
            <label for="rStatus">3. Relationship Status</label>
            <select id="rStatus" name="relationship">
                <!-- <option value="" disabled selected>Select</option> -->
                <option value="In a relationship">In a relationship</option>
                <option value="Single">Single</option>
                <option value="Married">Married</option>
                <option value="Divorced">Divorced</option>
            </select>
            <br><br>
            <label for="oStatus">4. Occupation Status</label>
            <select id="oStatus" name="occupation">
                <!-- <option value="" disabled selected>Select</option> -->
                <option value="University Student">University Student</option>
                <option value="School Student">School Student</option>
                <option value="Salaried Worker">Salaried Worker</option>
                <option value="Retired">Retired</option>
            </select>
            <br><br>
            <fieldset>
                <legend>5. What type of organizations are you affiliated with? (select all that apply)</legend>
                <br>
                <input type="checkbox" id="cbUni" name="organization_name" value="University">
                <label>University</label>
                <br>
                <input type="checkbox" id="cbPrivate" name="organization_name" value="Private">
                <label>Private</label>
                <br>
                <input type="checkbox" id="cbSchool" name="organization_name" value="School">
                <label>School</label>
                <br>
                <input type="checkbox" id="cbCompany" name="organization_name" value="Company">
                <label>Company</label>
                <br>
                <input type="checkbox" id="cbGovernment" name="organization_name" value="Government">
                <label>Government</label>
                <br>
                <input type="checkbox" id="cbNone" name="organization_name" value="N/A">
                <label>N/A</label>
            </fieldset>
            <br><br>
            <label>6. Do you use social media?</label>
            <select name="use_sm" id="smPlatform">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
            <br><br>
            <fieldset>
                <legend>7. What social media platforms do you commonly use? (select all that apply)</legend>
                <input type="checkbox" id="cbDiscord" name="platform_name" value="Discord">
                <label>Discord</label>
                <br>
                <input type="checkbox" id="cbFacebook" name="platform_name" value="Facebook">
                <label>Facebook</label>
                <br>
                <input type="checkbox" id="cbInstagram" name="platform_name" value="Instagram">
                <label>Instagram</label>
                <br>
                <input type="checkbox" id="cbPinterest" name="platform_name" value="Pinterest">
                <label>Pinterest</label>
                <br>
                <input type="checkbox" id="cbReddit" name="platform_name" value="Reddit">
                <label>Reddit</label>
                <br>
                <input type="checkbox" id="cbSnapchat" name="platform_name" value="Snapchat">
                <label>Snapchat</label>
                <br>
                <input type="checkbox" id="cbTikTok" name="platform_name" value="TikTok">
                <label>TikTok</label>
                <br>
                <input type="checkbox" id="cbTwitter" name="platform_name" value="Twitter">
                <label>Twitter</label>
                <br>
                <input type="checkbox" id="cbYouTube" name="platform_name" value="YouTube">
                <label>YouTube</label>
                <br>
            </fieldset>
            <br><br>
            <label>8. What is the average time you spend on social media every day?</label>
            <select id="avgTime" name="avg_daily_sm_use">
                <!-- <option value="" disabled selected>select time spent</option> -->
                <option value="Less than an Hour">Less than an Hour</option>
                <option value="Between 1 and 2 hours">Between 1 and 2 hours</option>
                <option value="Between 2 and 3 hours">Between 2 and 3 hours</option>
                <option value="Between 3 and 4 hours">Between 3 and 4 hours</option>
                <option value="Between 4 and 5 hours">Between 4 and 5 hours</option>
                <option value="More than 5 hours">More than 5 hours</option>
            </select>
            <br><br>
            <label>9. How often do you find yourself using social media without a specific purpose?</label>
            <br><br>
            <div style="text-align:left ; max-width: 400px; margin: 10;">
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <span>Not Often</span>
                    <span>Very Often</span>
                </div>
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="no_purpose_use_score" id="purposeUse1" value="1">1
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="no_purpose_use_score" id="purposeUse2" value="2">2
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="no_purpose_use_score" id="purposeUse3" value="3">3
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="no_purpose_use_score" id="purposeUse4" value="4">4
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="no_purpose_use_score" id="purposeUse5" value="5">5
                    </label>
                </div>
            </div>
            
            <br>
            <label>10. How often do you get distracted by social media when you are busy doing something?</label>
            <br><br>
            <div style="text-align:left ; max-width: 400px; margin: 10;">
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <span>Not Often</span>
                    <span>Very Often</span>
                </div>
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="distracted_use_score" id="distractScale1" value="1">1
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="distracted_use_score" id="distractScale2" value="2">2
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="distracted_use_score" id="distractScale3" value="3">3
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="distracted_use_score" id="distractScale4" value="4">4
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="distracted_use_score" id="distractScale5" value="5">5
                    </label>
                </div>
            </div>            
            <br><br>
            <label>11. Do you feel restless if you haven't used social media in a while?</label>
            <br>
            <div style="text-align:left ; max-width: 400px; margin: 10;">
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <span>Not Often</span>
                    <span>Very Often</span>
                </div>
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="restlessness_without_sm_score" id="restlessScale1" value="1">1
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="restlessness_without_sm_score" id="restlessScale2" value="2">2
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="restlessness_without_sm_score" id="restlessScale3" value="3">3
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="restlessness_without_sm_score" id="restlessScale4" value="4">4
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="restlessness_without_sm_score" id="restlessScale5" value="5">5
                    </label>
                </div>
            </div>            
            <br><br>
            <label>12. On a scale of 1 to 5, how easily distracted are you?</label>
            <br>
            <div style="text-align:left ; max-width: 400px; margin: 10;">
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <span>Not Distracted</span>
                    <span>Easily Distracted</span>
                </div>
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="general_distraction_score" id="ezdistScale1" value="1">1
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="general_distraction_score" id="ezdistScale2" value="2">2
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="general_distraction_score" id="ezdistScale3" value="3">3
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="general_distraction_score" id="ezdistScale4" value="4">4
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="general_distraction_score" id="ezdistScale5" value="5">5
                    </label>
                </div>
            </div>             
            <br><br>
            <label>13. On a scale of 1 to 5, how much are you bothered by worries?</label>
            <br>
            <div style="text-align:left ; max-width: 400px; margin: 10;">
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <span>Not Bothered</span>
                    <span>Very Bothered</span>
                </div>
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="bothered_by_worries_score" id="botheredScale1" value="1">1
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="bothered_by_worries_score" id="botheredScale2" value="2">2
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="bothered_by_worries_score" id="botheredScale3" value="3">3
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="bothered_by_worries_score" id="botheredScale4" value="4">4
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="bothered_by_worries_score" id="botheredScale5" value="5">5
                    </label>
                </div>
            </div>             
            <br><br>
            <label>14. Do you find it difficult to concentrate on things?</label>
            <br>
            <div style="text-align:left ; max-width: 400px; margin: 10;">
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <span>Very Easy</span>
                    <span>Very Difficult</span>
                </div>
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="concentration_difficulty_score" id="concentrateScale1" value="1">1
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="concentration_difficulty_score" id="concentrateScale2" value="2">2
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="concentration_difficulty_score" id="concentrateScale3" value="3">3
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="concentration_difficulty_score" id="concentrateScale4" value="4">4
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="concentration_difficulty_score" id="concentrateScale5" value="5">5
                    </label>
                </div>
            </div>            
            <br><br>
            <label>15. On a scale of 1-5, how often do you compare yourself to other successful people through the use of social media?</label>
            <br><br>
            <div style="text-align:left ; max-width: 400px; margin: 10;">
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <span>Not Often</span>
                    <span>Very Often</span>
                </div>
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="freq_comparison_to_successful_people_via_sm_score" id="compareScale1" value="1">1
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="freq_comparison_to_successful_people_via_sm_score" id="compareScale2" value="2">2
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="freq_comparison_to_successful_people_via_sm_score" id="compareScale3" value="3">3
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="freq_comparison_to_successful_people_via_sm_score" id="compareScale4" value="4">4
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="freq_comparison_to_successful_people_via_sm_score" id="compareScale5" value="5">5
                    </label>
                </div>
            </div>
            <br><br>
            <label>16. Following the previous question, how do you feel about these comparisons, generally speaking?</label>
            <br><br>
            <div style="text-align:left ; max-width: 400px; margin: 10;">
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <span>Very Bad</span>
                    <span>Very Good</span>
                </div>
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="feelings_about_comparison_score" id="feelcompScale1" value="1">1
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="feelings_about_comparison_score" id="feelcompScale2" value="2">2
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="feelings_about_comparison_score" id="feelcompScale3" value="3">3
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="feelings_about_comparison_score" id="feelcompScale4" value="4">4
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="feelings_about_comparison_score" id="feelcompScale5" value="5">5
                    </label>
                </div>
            </div>
            <br><br>
            <label>17. How often do you look to seek validation from features of social media?</label>
            <br>
            <div style="text-align:left ; max-width: 400px; margin: 10;">
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <span>Not Often</span>
                    <span>Very Often</span>
                </div>
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="validation_seeking_from_sm_score" id="validScale1" value="1">1
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="validation_seeking_from_sm_score" id="validScale2" value="2">2
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="validation_seeking_from_sm_score" id="validScale3" value="3">3
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="validation_seeking_from_sm_score" id="validScale4" value="4">4
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="validation_seeking_from_sm_score" id="validScale5" value="5">5
                    </label>
                </div>
            </div>            
            <br><br>
            <label>18. How often do you feel depressed or down?</label>
            <br>
            <div style="text-align:left ; max-width: 400px; margin: 10;">
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <span>Not Often</span>
                    <span>Very Often</span>
                </div>
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="freq_feeling_depressed_or_down_score" id="depressedScale1" value="1">1
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="freq_feeling_depressed_or_down_score" id="depressedScale2" value="2">2
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="freq_feeling_depressed_or_down_score" id="depressedScale3" value="3">3
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="freq_feeling_depressed_or_down_score" id="depressedScale4" value="4">4
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="freq_feeling_depressed_or_down_score" id="depressedScale5" value="5">5
                    </label>
                </div>
            </div>                        
            <br><br>
            <label>19. On a scale of 1 to 5, how frequently does your interest in daily activities fluctuate?</label>
            <br>
            <div style="text-align:left ; max-width: 400px; margin: 10;">
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <span>Not Often</span>
                    <span>Very Often</span>
                </div>
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="freq_fluctuation_of_interest_in_daily_activities_score" id="interestScale1" value="1">1
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="freq_fluctuation_of_interest_in_daily_activities_score" id="interestScale2" value="2">2
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="freq_fluctuation_of_interest_in_daily_activities_score" id="interestScale3" value="3">3
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="freq_fluctuation_of_interest_in_daily_activities_score" id="interestScale4" value="4">4
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="freq_fluctuation_of_interest_in_daily_activities_score" id="interestScale5" value="5">5
                    </label>
                </div>
            </div>            
            <br><br>
            <label>20. On a scale of 1 to 5, how often do you face issues regarding sleep?</label>
            <br>
            <div style="text-align:left ; max-width: 400px; margin: 10;">
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <span>Not Often</span>
                    <span>Very Often</span>
                </div>
                <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="freq_sleep_issues_score" id="sleepScale1" value="1">1
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="freq_sleep_issues_score" id="sleepScale2" value="2">2
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="freq_sleep_issues_score" id="sleepScale3" value="3">3
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="freq_sleep_issues_score" id="sleepScale4" value="4">4
                    </label>
                    <label style="flex: 1; text-align: center;">
                        <input type="radio" name="freq_sleep_issues_score" id="sleepScale5" value="5">5
                    </label>
                </div>
            </div> 

            <div>
                <h1 id="GenAs"></h1>
                <h1 id="UsageAs"></h1>
                <h1 id="Recs"></h1>
            </div>
            <button onclick="evaluationForYou()"></button>
            <!-- <button type="submit" onclick="">Submit</button> -->
        </fieldset>
    </form>
    


    <script>
        // function getTimeStamp()
        // {
        //     // Set the timestamp value in the hidden input field
        //     document.getElementById('timestamp').value = new Date().toISOString();
        // }
       
        function evaluationForYou(){
            let userAge = document.getElementById("numAge").value
            let userUsage = document.getElementById("avgTime").value

            if (userAge >= 59){
                userAge = "Baby Boomers"
            }
            else if (userAge >= 43){
                userAge = "Gen X"
            }
            else if (userAge >= 27){
                userAge = "Millennials"
            }
            else{
                userAge = "Gen Z"
            }

            let sGenerationalAssessment = "With your associated generation, " + userAge + ",<br>"

            let sUsageAssessmnet = "and with your usage being " + userUsage + ",<br>"

            let sReccomendationAssessment = "So here are the following things you may be more succeptable to: "

            document.getElementById("GenAs").innerHTML = sGenerationalAssessment
            document.getElementById("UsageAs").innerHTML = sUsageAssessmnet
            document.getElementById("Recs").innerHTML = sReccomendationAssessment
        }

    



    </script>
    
</body>
</html>